---
layout: vote
title: PubConf Voting
---

{% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
{% for event in site.events %}
    {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
    {% if event_date > now %}
    <li>
        <a href="{{ event.url }}">{{ event.title }}</a>
    </li>
    {% endif %}
{% endfor %}


{% assign event = site.data.next_event %}

<header></header>
<form id="js-ballot" method="GET" action="/vote/thanks/">
    <button type="submit" disabled="disabled" class="disabled">Submit</button>
    <ul>
        {% for speaker in event.speakers %}
        <li>
            <label>
                <img src="{{ speaker.image }}" alt="{{ speaker.name }}" />
                <div class="desc">
                    <div class="title">{{ speaker.title }}</div>
                    <div class="name">{{ speaker.name }}</div>
                </div>
                <input type="checkbox" name="speaker" value="{{ speaker.name }}">
            </label>
        </li>
        {% endfor; %}
    </ul>
    <button type="submit" disabled="disabled" class="disabled">Submit</button>
</form>

<div class="footer">
    Copyright &copy; 2015-{{ site.time | date: '%Y' }} <a href="https://trackjs.com/">TrackJS LLC</a>
</div>
