.event-page-2017 {


  .section-hero {

    .hero-title {
      font-size: 2em;
      margin: 0 0 12px 0;
    }
    .hero-when {
      font-size: 1.5em;
      color: $grey-color-dark
    }
    .hero-where {
      font-size: 1.3em;
      color: $grey-color-dark
    }
    .hero-info {
      line-height: 18px;
      margin-top: 16px;
    }

    .hero-share {
      margin: 20px 0 -40px 0;
    }
    .social-media-list {
      margin: 0;
      text-align: center;
      li {
        display: inline-block;
        margin-bottom: $spacing-unit / 3;
        padding-right: $spacing-unit / 3;
        width: -webkit-calc(23% - (#{$spacing-unit} / 3));
        width:     calc(23% - (#{$spacing-unit} / 3));
        max-width: 72px;

        a {
          color: $grey-color-dark;
          i {
            font-size: 2.5em;
          }

          &:hover,
          &:active,
          &:focus {
            color: $brand-color;
          }
        }
      }
    }


    .hero-col-wrapper {
      @extend %clearfix;
    }

    .hero-col {
      float: left;
      margin-bottom: $spacing-unit;
      padding-left: $spacing-unit;
    }

    .hero-col-1 {
      width: -webkit-calc(50% - (#{$spacing-unit}));
      width:     calc(50% - (#{$spacing-unit}));
    }

    .hero-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit}));
      width:     calc(50% - (#{$spacing-unit}));
    }

    @include media-query($on-palm) {
      .hero-col {
        padding-left: 0;
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
      }
    }


  }

}
