footer.site-footer {
    background-color: $brand-darkest-grey;
    padding: 50px;

    p {
        color: white;
        margin: 15px auto 0;
        max-width: 800px;
        font-size: 1em;
        text-align: center;
    }

    a {
        color: $brand-orange;
    }
}
