---
layout: default
title: PubConf - The Software Variety Show and Afterparty
---

<div class="home-page">

  <section class="section-light">
    <div class="wrapper">
      <div class="fade-in text-center">
        <p class="text-lg" style="margin:0">
          The Software Variety Show and Afterparty.
        </p>
        <p>
          Rapid-fire Ignite talks, musical acts, and comedy stunts
          from amazing developers in an intimate atmosphere.
        </p>
      </div>
    </div>
  </section>

  {% assign nextEvent = (site.data.events | where:"future",true | sort:"startTime" | first) %}
  {% include event-banner.html event=nextEvent %}

  <section class="section-dark section-sponsors" style="margin-top:-30px;">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="sponsors">Global Sponsors</h2>
      </div>
      <ul class="sponsor-list">
        {% for sponsor in site.data.global-sponsors %}
          <li class="sponsor-item">
            <a href="{{ sponsor.url }}" target="_blank">
              <img src="{{ sponsor.imageUrl }}" alt="{{ sponsor.name }}">
            </a>
          </li>
        {% endfor; %}
      </ul>
    </div>
  </section>

  {% assign futureEvents = (site.data.events | where:"future",true | sort:"startTime") %}
  {% for event in futureEvents offset: 1 %}
  {% include event-banner.html event=event %}
  {% endfor; %}

</div>
