---
layout: default
title: PubConf Software Comedy Variety Show and Afterparty
body_class: page-index
sitemap:
    priority: 1.0
---

<div class="hero">
    <div class="container">
        <div class="title">
            <h1 style="display: none;">PubConf by TrackJS</h1>
            <img src="/assets/images/index/title-logo.svg" alt="PubConf by TrackJS">
        </div>
        <div class="subtitle">
            <h2>THE SOFTWARE VARIETY SHOW AND AFTERPARTY</h2>
        </div>
    </div>
    {% capture menu_links %}
    <ol>
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">{{ event.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
        <li>
            <a href="/events/">Event Archive</a>
        </li>
        <li>
            <a href="/speakers/">Speakers</a>
        </li>
        <li>
            <a href="/code-of-conduct/">Code of Conduct</a>
        </li>
    </ol>
    {% endcapture %}
    {% include menu.html links=menu_links %}
</div>

<ol class="event-list">
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">
                <h2>{{ event.name }}</h2>
                <div class="event-date">{{ event.date | date: "%A, %B %e, %Y" }}</div>
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ol>

<div class="newsletter">
    <div class="container">
        <h2>Get Email Updates</h2>
        <p>Join our newsletter to be the first to know about tickets and events.</p>
        <a href="{{ site.newsletter_url }}" class="button">
            <i class="icon-paper-plane-empty"></i>
            Subscribe to PubConf
        </a>
    </div>
</div>

<div class="global-sponsor">
    <div class="container">
        <h3>Global Founding Sponsor</h3>
        <h2>
            <a href="https://trackjs.com/">
                <span style="display: none;">TrackJS Front-End Error Monitoring</span>
                <img src="/assets/images/index/sponsor-logo.svg" alt="TrackJS">
            </a>
        </h2>
    </div>
</div>

{% include gallery.html %}
{% include video.html %}
