---
layout: default
title: PubConf Software Comedy Variety Show and Afterparty
body_class: page-index
sitemap:
    priority: 1.0
---

<div class="hero">
    <div class="container">
        <div class="title">
            <img src="/assets/images/index/title-logo.svg" alt="PubConf by TrackJS">
        </div>
        <div class="subtitle">
            <h2>THE SOFTWARE VARIETY SHOW AND AFTERPARTY</h2>
        </div>
    </div>
    {% capture menu_links %}
    <ol>
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">{{ event.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
    {% endcapture %}
    {% include menu.html links=menu_links %}
</div>

<ol class="event-list">
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">{{ event.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ol>

