<div class="event-page-2017">

  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#featuring">Featuring</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#tickets">Tickets</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
      </ul>
    </nav>
    <div class="section-event-banner" style="padding-top:36px;">
      <a href="{{ include.event.url }}" class="banner-wrapper">
        <div class="wrapper shadow">
          <img src="{{ include.event.image }}" alt="{{ include.event.name }}"/>
        </div>
      </a>

      <div class="text-center" style="background-color:white;">
        <h1 style="margin:0;padding:0;font-size:14px;display:inline">{{ include.event.name }}</h1>
        <small> - Open to the (techy) public.</small>
        <div>The developer afterparty and variety show. At the pub.</div>
      </div>
    </section>
  </header>

  <section class="section-light section-hero">
    <div class="wrapper">
      <div class="hero-col-wrapper">
        <div class="hero-col hero-col-1 text-center">
          <h1 class="hero-title">{{ include.event.title }}</h1>
          <div class="hero-when">{{ include.event.startTime | date: "%B %d, %Y" }} @ {{ include.event.startDisplay }}</div>
          <small>Doors open at {{ include.event.doorDisplay }}</small>
          <div class="hero-where"><a href="#venue">{{ include.event.location.name }}</a></div>
        </div>
        <div class="hero-col hero-col-2 text-center">
          {% if include.event.status == "preorder" %}
          <a class="button button-hero button-alt" href="{{ site.newsletter_signup }}" data-click-event="newsletter">
            Email Me!
          </a>
          <div class="hero-info">
            Tickets are not on sale yet. <br />But we'll email you when we're ready!
          </div>
          {% elsif include.event.status == "onsale" %}
          <a class="button button-hero" href="{{ include.event.tickets.url }}" data-click-event="tickets">
            Get Tickets Now
          </a>
          <div class="hero-info">
            Grab yours quick before they're gone! <br/>
            Legal Drinking Age Required.
          </div>
          {% elsif include.event.status == "soldout" %}
          <a class="button button-hero" href="{{ include.event.tickets.url }}" data-click-event="tickets">
            Join Waitlist
          </a>
          <div class="hero-info">
            Sorry! General tickets have sold out. Join the ticket waitlist.
          </div>
          {% elsif include.event.status == "archive" %}
          <a class="button button-hero button-alt" href="{{ site.newsletter_signup }}" data-click-event="newsletter">
            Email Me!
          </a>
          <div class="hero-info">
            This event already happened. Sign up to know the next time we come to your city!
          </div>
          {% endif %}
        </div>
      </div>
      <div class="hero-share text-center">
        <h4 style="margin-bottom:5px;font-weight:normal">Share that you're coming!</h4>
        <ul class="social-media-list">
          <li>
            <a href="https://twitter.com/share?text=I'm going to {{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via=pubconf"
              onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=700,height=450');return false;"
              class="icon-26 twitter" title="Twitter">
              <i class="icon-twitter" aria-label="Twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&amp;t=I'm going to {{ page.title }}"
              onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=700,height=450');return false;"
              class="icon-10 facebook" title="Facebook">
              <i class="icon-facebook" aria-label="Facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
              onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=700,height=450');return false;"
              class="icon-14 googleplus" title="GooglePlus">
              <i class="icon-gplus" aria-label="GooglePlus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section-decor section-about">
    <div class="wrapper">
      <div class="fade-in text-center text-lg">
        Rapid-fire funny talks, musical acts, and free beer with amazing developers in a relaxed pub atmosphere.
        <br><br>
        You don't want to miss it.
      </div>
    </div>
  </section>

  <section class="section-dark section-about">
    <div class="wrapper">
      <div class="text-center">
        <div class=" text-lg">
          Get email when we announce events, tickets, or tasty drinks.
          <br /><br />
        </div>
        <a type="button" class="button button-large button-alt" href="{{ site.newsletter_signup }}" data-click-event="newsletter">
          <i class="icon icon-mail"></i>
          Get Email Updates
        </a>
      </div>
    </div>
  </section>

  <section class="section-light section-speakers">
    <div class="wrapper">

      <div class="section-head">
        <h2 id="featuring">Featuring</h2>
        <div class="text-lg">Talks will be lively, entertaining, and presented in Ignite-style, <br />5 minutes, 20 slides, 15 seconds per slide. It's going to be fun!</div>
      </div>
      <ul class="talk-list">
        {% if include.event.speakers %}
        {% assign speakers = (include.event.speakers | sort: "name") %}
        {% for speaker in speakers %}
        <li class="talk-item">
          <img src="{{ speaker.image }}" width="100px" height="100px" alt="{{ speaker.name }}">
          <div class="talk-content">
            <h4>{% if speaker.title %}{{ speaker.title }}{% else %}(Coming Soon){% endif; %}</h4>
            <h5><a href="{{ speaker.url }}">{{ speaker.name }}</a></h5>
            <div class="talk-desc"><small>{{ speaker.description }}</small></div>
          </div>
        </li>
        {% endfor; %}
        {% endif; %}
        {% if include.event.cfp %}
        <li class="talk-item">
          <img src="/assets/images/logo.png" width="100px" height="100px" alt="PubConf">
          <div class="talk-content">
            <h4>More Coming...</h4>
            <h5>Maybe You!</h5>
            <div class="talk-desc"><small><a href="{{ site.data.speaking.cfpURL }}" target="_blank">Share something amazing</a></small></div>
          </div>
        </li>
        {% endif; %}
      </ul>

      {% if include.event.music %}
      <div class="section-head">
        <h2 id="speakers">Musical Performance</h2>
      </div>
      <ul class="talk-list">
        <li class="talk-item" style="float:none;">
          <img src="{{ include.event.music.image }}" width="100px" height="100px" alt="{{ include.event.music.name }}">
          <div class="talk-content">
            <h4>{{ include.event.music.name }}</h4>
            <h5>{{ include.event.music.title }}</h5>
            <div class="talk-desc"><small>{{ include.event.music.description }}</small></div>
          </div>
        </li>
      </ul>
      {% endif; %}

      <div class="section-head" data-visible-event="speakers">
        <h2 id="speakers">Host</h2>
        <div class="text-lg">Introducing our guests, and making some jokes.</div>
      </div>
      <ul class="talk-list">
        <li class="talk-item" style="float:none;">
          <img src="/assets/images/speakers/todd.jpg" width="100px" height="100px" alt="Todd Gardner">
          <div class="talk-content">
            <h4>Todd H. Gardner</h4>
            <h5>PubConf Producer</h5>
            <div class="talk-desc"><small>Occasional JavaScript Developer.</small></div>
          </div>
        </li>
      </ul>

    </div>
  </section>

  <section class="section-decor section-karaoke">
    <div class="wrapper">
      <div class="fade-in text-center">
        <h2>PubConf Championship</h2>
        <p class="text-lg">
          The ultimate speaker competition: the best speakers of the night compete for the PubConf Trophy by bullshitting their way through a never-before-seen presentation.
        </p>
      </div>
    </div>
  </section>

  <section class="section-light section-venue text-center">
    <div class="wrapper">
      {% if include.event.location %}
      <div class="section-head">
        <h2 id="venue">Venue</h2>
        <div class="text-lg">{{ include.event.location.name }}</div>
      </div>
      <div class="venue-image">
        <img src="{{ include.event.location.image }}" alt="{{ include.event.location.name }}" width="360px" height="360px">
      </div>
      <div class="venue-address">
        {{ include.event.location.address }} <br />
        <a href="https://www.google.com/maps/search/{{ include.event.location.address }}" target="_blank">Google Map</a>
      </div>
      {% else %}
      <div class="section-head">
        <h2 id="venue">Venue</h2>
        <div class="text-lg">
          We're still scouting out pubs. As soon as we find the best one, we'll post it here.
        </div>
      </div>
      {% endif; %}
    </div>
  </section>

  <section class="section-decor">
    <div class="wrapper text-center text-lg">
      Condense a conference into one beer-fueled evening of laughs, and you have PubConf.
    </div>
  </section>

  <section class="section-light section-tickets">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="tickets">Tickets</h2>
        <div class="text-lg">For the cost of a few beers you'll enjoy <strong>free drinks</strong>, <strong>free pub-fare food</strong>, and amazingly funny developers. <br /><br /><strong>Space is limited, don't wait!</strong></div>
      </div>

      <div class="ticket-list">
        {% if include.event.status == "preorder" %}
        <div class="ticket-item">
          <div class="pull-right text-muted ticket-release"><strong>Preorder!</strong></div>
          <h3>Join Waitlist</h3>
          <div>Tickets are not on sale yet. But we'll email you as soon as we're ready!</div>
          <div class="text-center text-lg" style="margin: 20px;">
            <a type="button" class="button button-large button-alt" href="{{ site.newsletter_signup }}" data-click-event="newsletter">
              Email Me!
            </a>
          </div>
        </div>
        {% elsif include.event.status == "onsale" %}
        <div class="ticket-item">
          <div class="pull-right text-muted ticket-release"><strong>{{ include.event.tickets.price }} {{ include.event.tickets.currency }}</strong></div>
          <h3>General Tickets</h3>
          <div>PubConf is open to the public for a small fee to help us keep your hunger fed and thirst quenched.</div>
          <div class="text-center text-lg" style="margin: 20px;">
            <a class="button button-large" href="{{ include.event.tickets.url }}" data-click-event="tickets">
              Get Tickets Now
            </a>
          </div>
          <div class="text-center"><small>Must be of legal drinking age.</small></div>
        </div>
        {% elsif include.event.status == "soldout" %}
        <div class="ticket-item">
          <h3>Sold Out</h3>
          <div>Sorry! General tickets have sold out. Join the ticket waitlist.</div>
          <div class="text-center text-lg" style="margin: 20px;">
            <a class="button button-large" href="{{ include.event.ticketURL }}" data-click-event="tickets">
              Join Waitlist
            </a>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="text-lg text-center">
        All attendees, speakers, and sponsors at PubConf are required to agree and follow the <a href="/codeofconduct.html">code of conduct</a>. We will enforce this code throughout the event.
      </div>

    </div>
  </section>

  <section class="section-dark section-sponsors">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="sponsors">Sponsors</h2>
        <div class="text-lg">PubConf is possible thanks to the generosity and expertise of our Sponsors. Please visit them and find out more about their awesomeness.</div>
      </div>

      <div class="clearfix">
        <h3 class="text-center">Top-Shelf Sponsors</h3>
        <ul class="sponsor-list">
        {% for sponsor in include.event.sponsors %}
        {% if sponsor.level == 'topshelf' %}
          <li class="sponsor-item">
            <a href="{{ sponsor.url }}" target="_blank">
              <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
            </a>
          </li>
        {% endif; %}
        {% endfor; %}
        </ul>
      </div>

      <div class="clearfix" style="margin:20px 0;">
        <h3 class="text-center">Draft Sponsors</h3>
        <ul class="sponsor-list">
        {% for sponsor in include.event.sponsors %}
        {% if sponsor.level == 'draft' %}
          <li class="sponsor-item draft">
            <a href="{{ sponsor.url }}" target="_blank">
              <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
            </a>
          </li>
        {% endif; %}
        {% endfor; %}
        </ul>
      </div>

    </div>
    <div class="wrapper">
      <div class="text-center text-lg">
        We're looking for more great sponsors! Be a part of this unique event and reach some amazing people.
        Check out <a href="/sponsoring.html">the sponsors page</a> and contact us at
        <a href="mailto:hello@pubconf.io">hello@pubconf.io</a> to get started.
      </div>
    </div>

  </section>

</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Event",
  "name": "{{ include.event.name }}",
  "description": "{{ include.event.description }}",
  "url": "{{ site.url }}{{ include.event.url }}",
  "image": "{{ site.url }}{{ include.event.image }}",
  "doorTime": "{{ include.event.doorTime }}",
  "startDate": "{{ include.event.startTime }}",
  "endDate": "{{ include.event.endTime }}",
  "organizer": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "description": "{{ site.description }}",
    "url": "{{ site.url }}",
    "email": "{{ site.email }}"
  },
  {% if include.event.location %}
  "location": {
    "@type": "Place",
    "name": "{{ include.event.location.name }}",
    "sameAs": "{{ include.event.location.url }}",
    "address": "{{ include.event.location.address }}"
  },
  {% else %}
  "location": {
    "@type": "Place",
    "name": "{{ include.event.city }}",
    "address": "{{ include.event.city }}"
  },
  {% endif; %}
  {% if include.event.tickets %}
  "offers": [{
    "@type": "Offer",
    "name": "Ticket",
    {% if include.event.status == "preorder" %}
    "availability": "PreOrder",
    {% elsif include.event.status == "onsale" %}
    "availability": "InStock",
    {% elsif include.event.status == "soldout" %}
    "availability": "SoldOut",
    {% endif; %}
    "priceCurrency": "{{ include.event.tickets.currency }}",
    "price": "{{ include.event.tickets.price }}",
    "url": "{{ include.event.tickets.url }}"
  }],
  {% endif; %}
  {% if include.event.speakers %}
  "performers": [
    {% for speaker in include.event.speakers %}
    {
      "@type": "Person",
      "name": "{{ speaker.name }}",
      "description": "{{ speaker.description }}",
      "url": "{{ speaker.url }}",
      "image": "{{ site.url }}{{ speaker.image }}"
    }{% if forloop.last != true %},{% endif; %}
    {% endfor; %}
  ],
  {% endif; %}
  "sponsor": {
    "@type": "Organization",
    "name": "TrackJS",
    "url": "https://trackjs.com",
    "image": "{{ site.url }}/assets/images/sponsors/trackjs.png"
  },
  "eventStatus": "EventScheduled"
}
</script>
