<footer class="site-footer">
  <p>All speakers, sponsors, and attendees must respect the <a href="/codeofconduct.html">PubConf Code of Conduct</a>. All content appearing on this website is proprietary, copyrighted and owned or licensed by <a href="https://trackjs.com/">TrackJS LLC</a>. Any unauthorized use of trademarks or content from this website is strictly prohibited. All rights reserved.</p>
  <p>Copyright &copy; 2015-{{ site.time | date: '%Y' }} <a href="https://trackjs.com/">TrackJS LLC</a></p>
</footer>
