<footer class="site-footer">
    <div class="social">
        <div class="container">
            <a href="{{ site.youtube_url }}" title="YouTube"><i class="icon-youtube-play"></i></a>
            <a href="{{ site.twitter_url }}" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="{{ site.newsletter_url }}" title="Email"><i class="icon-mail"></i></a>
        </div>
    </div>

    <p>All speakers, supporters, and attendees must respect the <a href="/code-of-conduct/">PubConf Code of Conduct</a>. All content appearing on this website is proprietary, copyrighted and owned or licensed by <a href="https://trackjs.com/">TrackJS LLC</a>. Any unauthorized use of trademarks or content from this website is strictly prohibited. All rights reserved.</p>
    <p>Copyright &copy; 2015-{{ site.time | date: '%Y' }} <a href="https://trackjs.com/">TrackJS LLC</a></p>
</footer>
