<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if site.googleplus_username %}<link rel="publisher" href="https://plus.google.com/{{ site.googleplus_username }}">{% endif %}
  {% if site.twitter_username %}<link rel="me" href="https://twitter.com/{{ site.twitter_username }}">{% endif %}

  <!-- Open Graph Sharing Info -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  {% if site.facebook_username %}<meta property="article:author" content="https://www.facebook.com/{{ site.facebook_username }}" />{% endif %}
  {% if site.facebook_username %}<meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook_username }}" />{% endif %}
  <meta property="og:image" content="{{site.url}}/assets/images/share/facebook.jpg" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if site.twitter_username %}<meta name="twitter:site" content="@{{ site.twitter_username }}">{% endif %}
  <meta name="twitter:image" content="{{site.url}}{{site.url}}/assets/images/share/twitter.jpg" />

  <!-- JSON-LD -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ site.title }}",
      "description": "{{ site.description }}",
      "url": "{{ site.url }}",
      "logo": "{{site.url}}{{site.image}}",
      "sameAs": [
        "https://www.facebook.com/{{ site.facebook_username }}",
        "https://twitter.com/{{ site.twitter_username }}",
        "https://plus.google.com/{{ site.googleplus_username }}"
      ],
      "email": "{{ site.email }}"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Event",
      "name": "{{ event.name }}",
      "description": "{{ event.description }}",
      "url": "{{ site.url }}{{ event.url }}",
      "image": "{{ site.url }}{{ event.image }}",
      "doorTime": "{{ event.doorTime }}",
      "startDate": "{{ event.startTime }}",
      "endDate": "{{ event.endTime }}",
      "location": {
        "@type": "Place",
        "name": "{{ event.city }}",
        "address": "{{ event.city }}"
      }
    }
  </script>

  <link href='https://fonts.googleapis.com/css?family=Dancing+Script|Lato:400,900' rel='stylesheet' type='text/css' />
  <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  {% stylesheet main %}

  <script type="text/javascript">window._trackJs = { token: '23cdb1761b31482d9e1ec76b6837cb37' };</script>
  <script type="text/javascript" src="https://cdn.trackjs.com/releases/canary/tracker.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.UA }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.UA }}');
    gtag.createTimeoutFn = function(callback, timeout) {
      var called = false;
      function fn() {
        if (!called) {
          called = true;
          callback();
        }
      }
      setTimeout(fn, timeout || 1000);
      return fn;
    }
  </script>

  <script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
    a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    twq('init','nwb6k');
    twq('track','PageView');
  </script>

  {% javascript main async defer %}
</head>
