<div class="navbar navbar-main navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/assets/images/logo-horiz.png" alt="PubConf" /></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-example">
      <div class="top-sosmed pull-right">
        <a href="https://www.facebook.com/pubconf" title=""><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/pubconf" title=""><span class="fa fa-twitter"></span></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#speakers">Special Guests</a></li>
        <li><a href="#schedule">Tickets</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
