<div class="navbar navbar-main navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="/assets/images/logo-horiz.png" alt="" /></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-example">
      <div class="top-sosmed pull-right">
        <a href="https://www.facebook.com/pubconf" title=""><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/pubconf" title=""><span class="fa fa-twitter"></span></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">Home</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#pics">Pics</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
