<div class="section contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="page-title">
          <h2 class="lead2">Get Updates</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="row">
          <p style="text-align:center;font-size:18px;margin:10px 0 0 0">
            Join our newsletter to be the first to know about tickets and events.
          </p>
          <a type="button" href="{{ site.newsletter_signup }}" data-click-event="newsletter">
            Get Email Updates
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
