<div class="section comedian">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="page-title">
          <h2 class="lead2">Speakers</h2>
        </div>
      </div>
    </div>

    <div class="row">

      {% for speaker in include.speakers %}
        <h1>{{ speaker.name }}</h1>
      {% endfor; %}

      <!-- <div>

        <div class="item">
          <div class="comedian-item">
            <div class="comedian-left">
              <img src="images/comedian-1.jpg" alt="" class="img-responsive" />
              <div class="comedian-name">Allen Carrey</div>
            </div>
            <div class="comedian-body">
              <h4 class="comedian-heading">"laugh was before you die, there's nothing prohibiting and asks you to pay for a laugh".</h4>
              <p>Welcome to the club, our club is the only and the best in new york city. Every night we present talented artists in the field of comedy for those who want to spend your whole evening.</p>
              <div class="comedian-sosmed">
                <a href="#" title="">
  <i class="fa fa-facebook"></i>
  </a>
                <a href="#" title="">
  <i class="fa fa-twitter"></i>
  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="comedian-item">
            <div class="comedian-left">
              <img src="images/comedian-2.jpg" alt="" class="img-responsive" />
              <div class="comedian-name">Baron Odon</div>
            </div>
            <div class="comedian-body">
              <h4 class="comedian-heading">"laugh was before you die, there's nothing prohibiting and asks you to pay for a laugh".</h4>
              <p>Welcome to the club, our club is the only and the best in new york city.</p>
              <div class="comedian-sosmed">
                <a href="#" title="">
  <i class="fa fa-facebook"></i>
  </a>
                <a href="#" title="">
  <i class="fa fa-twitter"></i>
  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="comedian-item">
            <div class="comedian-left">
              <img src="images/comedian-3.jpg" alt="" class="img-responsive" />
              <div class="comedian-name">Susan McGee</div>
            </div>
            <div class="comedian-body">
              <h4 class="comedian-heading">"laugh was before you die, there's nothing prohibiting and asks you to pay for a laugh".</h4>
              <p>Welcome to the club, our club is the only and the best in new york city. Every night we present talented artists in the field of comedy for those who want to spend your whole evening.</p>
              <div class="comedian-sosmed">
                <a href="#" title="">
  <i class="fa fa-facebook"></i>
  </a>
                <a href="#" title="">
  <i class="fa fa-twitter"></i>
  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="comedian-item">
            <div class="comedian-left">
              <img src="images/comedian-2.jpg" alt="" class="img-responsive" />
              <div class="comedian-name">Baron Odon</div>
            </div>
            <div class="comedian-body">
              <h4 class="comedian-heading">"laugh was before you die, there's nothing prohibiting and asks you to pay for a laugh".</h4>
              <p>Welcome to the club, our club is the only and the best in new york city. Every night we present talented artists in the field of comedy for those who want to spend your whole evening.</p>
              <div class="comedian-sosmed">
                <a href="#" title="">
  <i class="fa fa-facebook"></i>
  </a>
                <a href="#" title="">
  <i class="fa fa-twitter"></i>
  </a>
              </div>
            </div>
          </div>
        </div>

      </div> -->

    </div>

  </div>
</div>
