<div class="section video">
  <div class="container" data-lazy-style="background:#000 url('/assets/images/bg-video.jpg') left center no-repeat;background-size:cover">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </div>
      <div class="col-sm-12 col-md-6">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" data-lazy-src="https://www.youtube.com/embed/rer85KwCsv0?autoplay=0&loop=0&showinfo=0&theme=dark&color=red&controls=1&modestbranding=0&start=0&fs=1&iv_load_policy=1"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
