<div class="events" id="schedule">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="page-title">
					<h2 class="lead2">Events</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section events-content">
	<div class="bg-side col-sm-3 col-md-4" style="background:#000 url('images/event-bg.jpg') top right no-repeat;">
	</div>
	<div class="container">

		<div class="row">

			<div class="col-sm-12 col-md-7 col-md-offset-4">
				<div class="events-list">
					<div class="event-item">
						<div class="event-left">
							20 MEI
						</div>
						<div class="event-body">
							<p>Allen Carrey want to show off smartphone accross America.</p>
						</div>
						<div class="event-right">
							<a href="#contact" title="" class="btn btn-default">BUY TICKET</a>
						</div>
					</div>
					<div class="event-item">
						<div class="event-left">
							25 MEI
						</div>
						<div class="event-body">
							<p>Baron Odon want to talk about Tv show.</p>
						</div>
						<div class="event-right">
							<a href="#contact" title="" class="btn btn-default">BUY TICKET</a>
						</div>
					</div>
					<div class="event-item">
						<div class="event-left">
							28 MEI
						</div>
						<div class="event-body">
							<p>Susan McGee want give tips to choice boyfriend.</p>
						</div>
						<div class="event-right">
							<a href="#contact" title="" class="btn btn-default">BUY TICKET</a>
						</div>
					</div>
					<div class="event-item">
						<div class="event-left">
							02 JUN
						</div>
						<div class="event-body">
							<p>Liza Laracrov want talk a job killing our time to love.</p>
						</div>
						<div class="event-right">
							<a href="#contact" title="" class="btn btn-default">BUY TICKET</a>
						</div>
					</div>
					<div class="event-item">
						<div class="event-left">
							06 JUN
						</div>
						<div class="event-body">
							<p>Allen Carrey want to show off take a nap better than sleep.</p>
						</div>
						<div class="event-right">
							<a href="#contact" title="" class="btn btn-default">BUY TICKET</a>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
</div>
