<div class="section gallery" id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="page-title">
					<h2 class="lead2">Gallery</h2>
				</div>
			</div>
		</div>
		<div class="row popup-gallery">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="/assets/images/gallery/kc2017-1.jpg" title="Stage at PubConf Kansas City 2017">
						<img src="/assets/images/gallery/kc2017-1.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="/assets/images/gallery/london2017.jpg" title="The crowd at PubConf London 2017">
						<img src="/assets/images/gallery/london2017.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="/assets/images/gallery/kc2017-2.jpg" title="Damian and Todd bantering on stage">
						<img src="/assets/images/gallery/kc2017-2.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="/assets/images/gallery/kc2017-3.jpg" title="The crowd at PubConf Kansas City 2017">
						<img src="/assets/images/gallery/kc2017-3.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="/assets/images/gallery/sydneyspeakers.gif" title="PubConf Sydney 2017 speakers having a bit of fun after the show">
						<img src="/assets/images/gallery/sydneyspeakers.gif" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="/assets/images/gallery/oslo2017.jpg" title="Todd's Selfie at PubConf Oslo 2017">
						<img src="/assets/images/gallery/oslo2017.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
