<div class="section info" id="info">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="page-title">
					<h2 class="lead2">Details</h2>
          <div class="subtitle">for {{ include.event.name }}</div>
				</div>
			</div>
    </div>
    <div class="row">
      <div class="faq col-sm-12, col-md-8 col-md-offset-2">
        <h3>FAQ</h3>
        <ul class="">
          <li>
            <div class="faq-question">
              Is this a joke?
            </div>
            <div class="faq-answer">
              Yes. Well, kind of. We're really throwing this party, these speakers are really going to speak on these topics, and we're really going to have beer. But it's all light-hearted and fun.
            </div>
          </li>          
          <li>
            <div class="faq-question">
              I didn't attend {{ include.event.partner.name }}, can I still come to PubConf?
            </div>
            <div class="faq-answer">
              Absolutely! While PubConf is the official after-party for {{ include.event.partner.name }}, it is a separately ticketed event and we'd love to have you there!
            </div>
          </li>
          <li>
            <div class="faq-question">
              What's included with my ticket?
            </div>
            <div class="faq-answer">
              We'll provide pub-fare food, some adult beverages, a great show, and amazing people. If you need something more, well, maybe this isn't the event for you.
            </div>
          </li>
          <li>
            <div class="faq-question">
              When will tickets be available?
            </div>
            <div class="faq-answer">
              We release the first round of tickets about a month before the event. The second batch of tickets is held until the week of {{ include.event.partner.name }}.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row detail-content">
      <div class="col-sm-12 col-md-6">
        <h3>Times</h3>
        <div><strong>Doors Open</strong> - {{ include.event.doorTime | date: "%R" }}</div>
        <div><strong>Show Time</strong> - {{ include.event.startTime | date: "%R" }}</div>
        <div><strong>Finished</strong> - {{ include.event.endTime | date: "%R" }}</div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3>Location</h3>
        <div>{{ include.event.location.name }}</div>
        <div>{{ include.event.location.address }}</div>
        <div><a href="{{ include.event.location.url }}" target="_blank">{{ include.event.location.url }}</a></div>
      </div>
    </div>
	</div>
</div>
