<div class="section comedian" id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="page-title">
          <h2 class="lead2">Special Guests</h2>
        </div>
      </div>
    </div>

    <div class="row">

      <ul class="speaker-list">
        {% for speaker in include.speakers %}
          <li>
            <figure class="speaker-item">
              <img src="{{ speaker.image }}" alt="">
              <figcaption>
                <span class="title">{{ speaker.title }}</span>
                <span class="name"><a href="{{speaker.url}}">{{ speaker.name }}</a></span>
                <span class="description">{{ speaker.description }}</span>
              </figcaption>
            </figure>
          </li>
        {% endfor; %}
      </ul>

    </div>

  </div>
</div>
