<div class="section gallery" id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="page-title">
					<h2 class="lead2">Pics</h2>
				</div>
			</div>
		</div>
		<div class="row popup-gallery">
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="images/gallery-1.jpg" title="Gallery #1">
						<img src="images/gallery-1.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="images/gallery-2.jpg" title="Gallery #2">
						<img src="images/gallery-2.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="images/gallery-3.jpg" title="Gallery #3">
						<img src="images/gallery-3.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="images/gallery-4.jpg" title="Gallery #4">
						<img src="images/gallery-4.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="images/gallery-5.jpg" title="Gallery #5">
						<img src="images/gallery-5.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="w-item">
					<a href="images/gallery-6.jpg" title="Gallery #6">
						<img src="images/gallery-6.jpg" alt="" class="img-responsive" />
						<div class="project-info">
							<div class="project-icon">
								<span class="fa fa-search"></span>
							</div>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
