<div class="events" id="tickets">
  <div class="container" data-visible-event="tickets">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="page-title">
          <h2 class="lead2">Tickets</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section events-content">
  <div class="bg-side col-sm-3 col-md-4" style="background:#000 url('/assets/images/bg-events.jpg') top right no-repeat;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7 col-md-offset-4">
        <div class="events-list">
          {% assign futureEvents = (site.data.events | where:"future",true | sort:"startTime") %}
          {% for event in futureEvents limit: 3 %}
          <div class="event-item">
            <div class="event-left">
              {{ event.startTime | date: '%-d %b' }}
            </div>
            <div class="event-body">
              <h3>{{ event.name }}</h3>
              <p>after {{ event.partner.name }}</p>
            </div>
            {% if event.ticketUrl %}
            <div class="event-right">
              <a href="{{ event.ticketUrl }}" title="Buy Tickets" class="btn btn-default" data-click-event="buy">Buy Tickets</a>
            </div>
            {% else %}
            <div class="event-right">
              <a href="{{ site.newsletter_signup }}" title="Email Me" class="btn btn-secondary" data-click-event="email">Email Me!</a>
            </div>
            {% endif; %}
          </div>
          {% endfor; %}
        </div>
      </div>
    </div>
  </div>
</div>
