<div class="events" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="page-title">
          <h2 class="lead2">Events</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section events-content">
  <div class="bg-side col-sm-3 col-md-4" style="background:#000 url('/assets/images/bg-events.jpg') top right no-repeat;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7 col-md-offset-4">
        <div class="events-list">
          {% assign futureEvents = (site.data.events | sort:"startTime") %} {% for event in futureEvents limit: 3 %}
          <div class="event-item">
            <div class="event-left">
              {{ event.startTime | date: '%-d %b' }}
            </div>
            <div class="event-body">
              <h3>{{ event.name }}</h3>
              <p>Lorem ipsum...</p>
            </div>
            <div class="event-right">
              <a href="#contact" title="" class="btn btn-default">Buy Tickets!</a>
            </div>
          </div>
          {% endfor; %}
        </div>
      </div>
    </div>
  </div>
</div>
