<div class="section welcome" id="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<div class="page-title">
					<h2 class="lead">WELCOME TO THE CLUB</h2>
					<p class="sublead">Welcome to the club, our club is the only and the best in new york city. Every night we present talented artists in the field of comedy for those who want to spend your whole evening with friends, a girlfriend, or family. Our club gives a feel cozy, like a house with a menu of food and drinks were delicious.</p>
				</div>
			</div>
		</div>
	</div>
</div>
