<!-- Currently, grab the first three speakers from the next event. -->
<!-- TODO: Switch to "featured" speakers. -->

<div class="section banner" id="home">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for speaker in include.speakers limit:3 %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index0 == 0 %}active{% endif %}"></li>
      {% endfor; %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for speaker in include.speakers limit:3 %}
        <div class="item {% if forloop.index0 == 0 %}active{% endif %}">
          <div class="backdrop" style="background-image: url('{{ speaker.image }}')"></div>
          <img src="{{ speaker.image }}" alt="slide-1">
          <div class="carousel-caption">
            <div class="caption-heading">
              <span class="name">{{ speaker.name }}</span>
              <small>{{ speaker.description }}</small>
            </div>
            <div class="caption-desc">
              {{ speaker.title }}
            </div>
            <a href="#" title="" class="btn btn-default">Buy Tickets!</a>
          </div>
        </div>
      {% endfor; %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="fa fa-chevron-left" ></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="fa fa-chevron-right" ></span>
      <span class="sr-only">Next</span>
    </a>

  </div>

</div>
