<div class="section sponsor" id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="page-title">
					<h2 class="lead2">Sponsors</h2>
				</div>
			</div>
		</div>
		<div class="row">
			{% for sponsor in include.sponsors %}
				<div class="col-xs-12 col-md-6">
					<div class="sponsor-item">
						<a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
							<img data-lazy-src="{{ sponsor.image }}" alt="{{ sponsor.name }}" class="img-responsive" />
						</a>
					</div>
				</div>
		  {% endfor; %}
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="page-title">
					<h3 class="lead3">Special Thanks</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<div class="sponsor-item" style="text-align:center;">
					Dylan Beattie, Jakob Bradford, Sebastien Lambla, Tim Thomas, Ben Hall, Liam Westley, and Jonathan Mills
				</div>
			</div>
		</div>
	</div>
</div>
