.page {

    header.page-header {
        background-color: $brand-dark-grey;
        height: 70px;
        margin-bottom: 20px;

        .header-brand img {
            height: 48px;
            padding: 11px 0 11px 11px;
        }
    }

    .page-content {
        padding: 0 20px;
        font-size: 1.2em;
    }

}
