html, .container, .navbar, .section {
  overflow-x: hidden;
}

.navbar-brand {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .navbar-main.stiky .navbar-brand > img {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .top-sosmed { display: none; }
}

.navbar-main .nav > li > a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.top-sosmed {
  margin-left: 30px;
}

.page-title {

  margin: 0;

  text-transform: uppercase;

}

// We've rearranged the theme's sections, so we need some different backgrounds.
.section.comedian,
.section.info,
.section.sponsor,
.site-footer {
  background-color: #242424;
}

.events,
.section.welcome,
.section.gallery,
.section.contact {
  background-color: #2f2f2f;
}

.section.info {
  .container {
    padding: 50px 0;
  }
  .subtitle {
    text-transform: none;
    color: #ccc;
  }
  .detail-content {
    padding: 20px;
    text-align: center;
  }
  strong {
    font-weight: bold;
  }
}

.section.video {

  padding: 0;

  background-color: #000;

  .container {

    padding: 50px 0;

    @media screen and (max-width: 768px) {
      padding: 0;
    }

  }

}

// The theme's carousel doesn't do well with large screens; this makes it a bit
// better, but at the cost of stretching images. Need to research further.
.section.banner {

  .carousel,
  .carousel-inner,
  .carousel-inner > .item,
  .carousel-inner > .item > img {
    height: 100%;
  }

  .item .caption-heading {
    h1.featuring {
      font-family: 'Dancing Script', cursive;
      font-weight: normal;
      font-size: 24px;
      line-height: 100%;
      color: #ccc;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        margin-top:-15px;
      }
    }
    small {
      line-height: 24px;
      color: #ccc;
      font-weight: normal;
    }
  }

  .item img {
    // border-radius: 100%;
    box-shadow: 0 0 100px 50px black;
    transform: translate(-50%) scale(1.1);
  }

  .item:nth-child(2n) img {
    transform: translate(50%) scale(1.1);
  }

}

.section.banner {
  height: 500px;
  padding-top: 100px;
  background-color: #000;

  @media screen and (max-width: 768px) {
    height: 250px;
    padding-top: 51px;
  }
}

.carousel-indicators {
  bottom: 15px;
}

.carousel-caption {
  top: 5%;
  line-height: 1.25;
  text-shadow: 0 2px 1px black;

  .btn {
    font-size: 24px;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.caption-heading {

  small {
    display: block;
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 600;
  }

  .name {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
    .name {
      font-size: 20px;
    }
    small {
      font-size: 16px;
    }
  }

}

.caption-desc {
  font-size: 30px;
  line-height: inherit;
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    margin-top: 5px;
    width: 250px;
  }

}

.carousel .backdrop {
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  top: -10px;
  left: -10px;
  background-position: center center;
  background-size: cover;
  filter: blur(10px);
  opacity: 0.25;
}

// Fix some spacing issues.
.comedian,
.section.welcome,
.section.gallery,
.section.contact,
.section.sponsor {

  padding-bottom: 50px;
  padding-top: 50px;

  .page-title {
    margin: 0;
  }

}

.events {

  padding-top: 50px;
  padding-bottom: 30px;

}

.section.events-content {

  background-color: #383838;

  .events-list {
    padding: 40px 0;
  }

  .event-item {

    display: flex;
    align-items: center;
    margin-bottom: 0;

    & + .event-item {
      margin-top: 20px;
    }

    * {
      flex-grow: 0;
      flex-shrink: 0;
    }

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

  }

  .event-left {

    font-size: 24px;

    // These are all theme overrides. :(
    @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 42px;
      min-width: 120px;
      width: auto;
    }

    @media screen and (max-width: 560px) {
      font-size: 18px;
      min-width: 80px;
    }

  }

  .event-body {

    flex-grow: 1;
    width: auto;

    @media screen and (max-width: 768px) {
      max-width: 50%;
    }

    @media screen and (max-width: 560px) {
      max-width: 40%;
    }

    h3,
    p {
      margin: 0;
      line-height: 1;
    }

    h3 {
      color: #fff;
      font-size: 24px;
    }

    p {
      color: #7f7f7f;
      font-size: 14px;
    }

  }

  .event-right .btn {
    @media screen and (max-width: 560px) {
      width: 90px;
    }
  }

  .btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 30px;
    width: 120px;

    background-color: $color-primary;
  }

  .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 30px;
    width: 120px;

    border-color: black;
    color: white;
    border-radius: 0;
    background-color: $color-secondary;

    &:active,&:hover,&:focus {
      border-color: white;
    }
  }

}

.section.welcome,
.section.comedian {

  p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  em {

    position: relative;
    font-style: normal;

    &:after {

      content: '';
      position: absolute;
      left: 50%;
      bottom: -20px;
      display: block;
      height: 25px;
      width: 100px;
      margin-left: -45px;

      background-image: url('/assets/images/bg-emphasis.png');
      background-size: cover;

    }

  }

}

.section.gallery {

  .page-title {
    margin-bottom: 30px;
  }

  .w-item {
    margin-bottom: 0;
  }

  .popup-gallery > div:nth-of-type(n+4) {
    padding-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .popup-gallery > div {
      padding-top: 20px;
    }
  }

  .w-item a:hover .project-icon {
    @media screen and (max-width: 768px) {
      top: -60px;
    }
  }

}
