.page-title {

  margin: 0;

  text-transform: uppercase;

}

// We've rearranged the theme's sections, so we need some different backgrounds.
.section.comedian,
.section.welcome,
.section.sponsor,
.site-footer {
  background-color: #242424;
}

.events,
.section.gallery,
.section.contact {
  background-color: #2f2f2f;
}

// The theme's carousel doesn't do well with large screens; this makes it a bit
// better, but at the cost of stretching images. Need to research further.
.section.banner {

  .carousel,
  .carousel-inner,
  .carousel-inner > .item,
  .carousel-inner > .item > img {
    height: 100%;
  }

}

// Fix some spacing issues.
.comedian {

  padding-bottom: 50px;
  padding-top: 50px;

  .page-title {
    margin: 0;
  }

}

// Base styles (TODO: Move once the old stuff is cleaned up)

.site-footer {

  padding: 50px;

  p {
    margin: 0 auto;
    max-width: 800px;
    font-size: 12px;
    text-align: center;
  }

  p + p {
    margin-top: 15px;
  }

}
