.page-title {

  margin: 0;

  text-transform: uppercase;

}

// We've rearranged the theme's sections, so we need some different backgrounds.
.section.comedian,
.section.welcome,
.section.sponsor,
.site-footer {
  background-color: #242424;
}

.events,
.section.gallery,
.section.contact {
  background-color: #2f2f2f;
}

.section.video {

  padding: 0;

  background-color: #000;

  .container {

    padding: 50px 0;

    background-image: url('/assets/images/bg-video.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;

  }

}

// The theme's carousel doesn't do well with large screens; this makes it a bit
// better, but at the cost of stretching images. Need to research further.
.section.banner {

  .carousel,
  .carousel-inner,
  .carousel-inner > .item,
  .carousel-inner > .item > img {
    height: 100%;
  }

}

// Fix some spacing issues.
.comedian,
.section.welcome,
.section.gallery,
.section.contact,
.section.sponsor {

  padding-bottom: 50px;
  padding-top: 50px;

  .page-title {
    margin: 0;
  }

}

.section.welcome {

  p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  em {

    position: relative;
    font-style: normal;

    &:after {

      content: '';
      position: absolute;
      left: 50%;
      bottom: -20px;
      display: block;
      height: 25px;
      width: 100px;
      margin-left: -50px;

      background-image: url('/assets/images/bg-emphasis.png');
      background-size: cover;

    }

  }

}

.section.gallery {

  .page-title {
    margin-bottom: 15px;
  }

  .w-item {
    margin-bottom: 0;
  }

  .popup-gallery > div:nth-of-type(n+4) {
    padding-top: 20px;
  }

}

// Base styles (TODO: Move once the old stuff is cleaned up)

$color-primary: #ff9318;

a[type='button'] {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 300px;
  margin: 30px auto 0;

  background-color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 2px;

  color: white;
  font-size: 24px;

  &:hover {
    background-color: transparent;
  }

}

.sponsor-item {
  margin: 15px 0 0;
  padding: 0 50px;
}

.site-footer {

  padding: 50px;

  p {
    margin: 0 auto;
    max-width: 800px;
    font-size: 12px;
    text-align: center;
  }

  p + p {
    margin-top: 15px;
  }

}
