---
layout: null
title: PubConf Software Comedy Variety Show and Afterparty
sitemap:
    priority: 1.0
---

<!DOCTYPE html>
<html lang="en_US">
    <head>

    </head>
    <body>
        <div class="hero">
            <h1></h1>
            <nav></nav>
            <div class="call-to-action"></div>
        </div>


        {% for speaker_hash in page.speakers %}
            {% assign speaker_id = speaker_hash[0] %}
            {% assign talk_title = speaker_hash[1] %}
            {% assign speaker_profile = site.data.speakers[speaker_id] %}
            {% if speaker_profile %}
                {{ speaker_profile.name }}
                {{ talk_title }}
            {% endif %}
        {% endfor %}
        {{ content }}

        <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet" type="text/css" />
    </body>
</html>
