---
layout: default
body_class: "page speaker"
---

{% assign speaker = page %}

<header class="page-header">
    <a class="header-brand" href="/"><img src="/assets/images/index/title-logo.svg" alt="PubConf"/></a>
    {% capture menu_links %}
    <ol>
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">{{ event.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
        <li>
            <a href="/events/">Event Archive</a>
        </li>
        <li>
            <a href="/speakers/">Speakers</a>
        </li>
        <li>
            <a href="/code-of-conduct/">Code of Conduct</a>
        </li>
    </ol>
    {% endcapture %}
    {% include menu.html links=menu_links %}
</header>

<div class="speaker-content">
    <figure class="speaker-item">
        <img src="{% if speaker_profile.image %}{{ speaker_profile.image }}{% else %}/assets/images/speakers/anonymous.png{% endif %}" alt="{{ speaker_profile.title }}" class="speaker">
        <figcaption>
            <div>
                <div class="name">
                    <a href="{{ speaker_profile.url }}" title="{{ speaker_profile.title }}">{{ speaker_profile.title }}</a>
                    {% if speaker_profile.twitter %}<a href="https://twitter.com/{{ speaker_profile.twitter }}"><i class="icon-twitter"></i></a>{% endif %}
                </div>
                <div class="description">{% if speaker_profile.bio %}{{ speaker_profile.bio }}{% else %}Lazy Bastard{% endif %}</div>
            </div>
            <div class="events">
            {% for event in site.events %}
            {% if event.speakers contains speaker_profile.slug or event.host == speaker_profile.slug %}
            {% assign event_speaker = event.speakers[speaker_profile.slug] %}
                <a class="event-link" href="{{ event.url }}">
                    {{ event.title }}
                    {% if event_speaker == nil %} (Host){% endif %}
                    {% if event_speaker.place == "champion" %} (Champion){% endif %}
                    {% if event_speaker.place == "finalist" %} (Finalist){% endif %}•
                </a>
            {% endif %}
            {% endfor %}
            </div>
        </figcaption>
    </figure>


    <div>
        <h2>Events</h2>
        {% for event in site.events %}
        {% if event.speakers contains speaker.slug %}
        {% assign event_speaker = event.speakers[speaker.slug] %}
            <a href="{{ event.url }}">{{ event.title }}</a>
        {% endif %}
        {% endfor %}
    </div>

    {{ content }}
</div>
