---
layout: default
body_class: "speaker"
---

{% assign speaker = page %}
<div>{{ speaker.name }}</div>
<div>{{ speaker.bio }}</div>
<div>{{ speaker.slug }}</div>

<div>
    <h2>Events</h2>
    {% for event in site.events %}
    {% if event.speakers contains speaker.slug %}
    {% assign event_speaker = event.speakers[speaker.slug] %}
        <a href="{{ event.url }}">{{ event.name }}</a>
    {% endif %}
    {% endfor %}
</div>


<div>
        <h2>All Speakers</h2>
        {% for speaker in site.speakers %}
            <div>{{ speaker.name }}</div>
        {% endfor %}
    </div>
