---
layout: default
body_class: "page speaker"
---

{% assign speaker_profile = page %}

<header class="page-header">
    <a class="header-brand" href="/"><img src="/assets/images/index/title-logo.svg" alt="PubConf"/></a>
    {% capture menu_links %}
    <ol>
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">{{ event.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
        <li>
            <a href="/events/">Event Archive</a>
        </li>
        <li>
            <a href="/speakers/">Speakers</a>
        </li>
        <li>
            <a href="/code-of-conduct/">Code of Conduct</a>
        </li>
    </ol>
    {% endcapture %}
    {% include menu.html links=menu_links %}
</header>

<div class="speaker-content">
    <div class="info">
        <div class="headshot">
            <img src="{% if speaker_profile.image %}{{ speaker_profile.image }}{% else %}/assets/images/speakers/anonymous.png{% endif %}" alt="{{ speaker_profile.title }}" class="speaker">
        </div>
        <div class="name">
            <h1>{{ speaker_profile.title }} {% if speaker_profile.twitter %}<a class="twitter" href="https://twitter.com/{{ speaker_profile.twitter }}"><i class="icon-twitter"></i></a>{% endif %}</h1>
            <h2>{{ speaker_profile.bio }}</h2>
            {{ content }}
        </div>
    </div>
</div>

<div class="events">
    <h2>Talks</h2>
    <ol class="event-list">
    {% assign events = site.events | reverse %}
    {% for event in events %}
    {% if event.speakers contains speaker_profile.slug or event.host == speaker_profile.slug %}
    {% assign event_speaker = event.speakers[speaker_profile.slug] %}
        <li class="event-item">
            <div class="event-image">
                <a href="{{ event.url }}" title="{{ event.title }}">
                    <img src="{{ event.images.logo }}" alt="{{ event.title }}" />
                </a>
                {% if event_speaker == nill %}<img src="/assets/images/host.png" alt="PubConf Host" title="PubConf Host" class="host">{% endif; %}
                {% if event_speaker.place == "champion" %}<img src="/assets/images/champion.png" alt="PubConf Champion" title="PubConf Champion" class="champion">{% endif; %}
                {% if event_speaker.place == "finalist" %}<img src="/assets/images/finalist.png" alt="PubConf Finalist" title="PubConf Finalist" class="finalist">{% endif; %}
            </div>
            <div class="event-details">
                <h3><a href="{{ event.url }}" title="{{ event.title }}">{{ event.title }}</a></h3>
                <div>{{ event_speaker.talk }}</div>
            </div>
        </li>
    {% endif %}
    {% endfor %}
    </ol>
</div>

